<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .buffer-div{
        margin: 20% auto;
        height: 50px;
        width: 50px;
        /* background-color: red; */
        border: 3px solid #ccc;
        border-radius: 50%;
        animation: spin 0.5s linear infinite;
        border-top-color:blue ;
    }
    @keyframes spin {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
        
    }
</style>
<body>
    <div class="buffer-div"></div>
</body>
</html>